services:
  clash-royale-stats:
    container_name: clash-royale-stats
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped

    ports:
      - "3000:3000"

    env_file:
      - .env.prod

    networks:
      - nginx-network

    deploy:
      resources:
        limits:
          cpus: "0.75"
          memory: 512M

    tmpfs:
      - /app/.next/cache:size=128M,mode=1777

networks:
  nginx-network:
    name: nginx-network