services:
  clash-royale-stats:
    container_name: clash-royale-stats
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env.prod
    networks:
      - nginx-network

networks:
  nginx-network:
    external: true