@import "tailwindcss";
@plugin "daisyui" {
  themes: cmyk --default, night --prefersdark;
}

@theme {
  --font-manrope: var(--font-manrope), system-ui, sans-serif;
  --font-clash-royale: var(--font-clash-royale), system-ui, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-manrope), sans-serif;
  }
}